@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";


body {
  font-family: 'JetBrains Mono', monospace;
  background: linear-gradient(120deg, #000000, #0a0a0a, #1a1a1a, #000000);
  background-size: 400% 400%;
  animation: gradientShift 8s ease infinite;
}

html {
  scroll-behavior: smooth;
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Largeur */
::-webkit-scrollbar {
  width: 8px;
}

/* Background */
::-webkit-scrollbar-track {
  background: #000; /* noir */
}

/* La scrollbar */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
  transition: background 0.3s ease;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}